<div fxLayout="row" fxLayoutAlign="center center">

	<mat-card fxFlex="50">
		<mat-card-title>Login</mat-card-title>

		<mat-card-content>

			<form class="example-form">

				<mat-form-field class="full-width">
					<input matInput placeholder="Email" [(ngModel)]="user.email" name="email">
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="Password" [(ngModel)]="user.password" name="password">
				</mat-form-field>

			</form>

		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" (click)="submit()">Submit</button>
		</mat-card-actions>
	</mat-card>
</div>