<div fxLayout="row" fxLayoutAlign="space-around center">
	<mat-card fxFlex="70" class="card">
		<mat-card-title>Create Tasks</mat-card-title>

		<mat-card-content>
			<form class="example-form">

				<mat-form-field class="full-width">
					<input matInput placeholder="Title" [(ngModel)]="task.title" name="task">
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="Date" [(ngModel)]="task.date" name="date">
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="Status" [(ngModel)]="task.status" name="status">
				</mat-form-field>

			</form>
		</mat-card-content>
		<mat-card-actions>
			<button color="primary" mat-raised-button (click)="submit()">Submit</button>
			<button color="accent" mat-raised-button (click)="resetForm()">Reset</button>
		</mat-card-actions>
	</mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">

	<mat-card fxFlex="70" class="card">

		<mat-card-title>Tasks List</mat-card-title>

		<mat-card-content>
			<mat-list>
				<mat-list-item *ngFor="let task of tasks; let i=index">
					

					<h3 matLine> {{task.title}}

						<mat-menu #appMenu="matMenu">
							<button mat-menu-item (click)="update(task)"> Update </button>
							<button mat-menu-item (click)="remove(task._id,i)"> Remove </button>
						</mat-menu>

						<button mat-icon-button [matMenuTriggerFor]="appMenu">
							<mat-icon>more_vert</mat-icon>
						</button>

					</h3>

					<p matLine>
						<span> {{task.date}} </span>
						<span class="demo-2"> {{task.status}} </span>
					</p>

				</mat-list-item>
			</mat-list>
		</mat-card-content>

	</mat-card>
</div>